/*  your css code here. If applicable */
h3{
	margin: 0px;
	text-align: center;
}
.middle{
	width:100%;
}
#t12{
	text-align: center
}
#t13{
	text-align: right
}
#t-image{
	justify-content: center;
	align-items: center;
}